.piePagina {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    position: absolute;
    margin-bottom: 0;
}

.navbarStyle {
    margin-bottom: 4px;
}

.nuestrosBlogs {
    text-align: center;
    letter-spacing: 15px;
    text-transform: uppercase;
}

.imagenBlog {
    object-fit: cover;
    height: 15rem;
    border-radius: 10px;
    border-style: groove;
    border-color: blueviolet;
}

.cardBlogs {
    object-fit: cover;
    height: 13.5rem;
}

@media (min-width: 768px) {

    .piePagina {
        justify-content: center;
        text-align: center;
        text-decoration: none;
        position: absolute;
        margin-bottom: 0;
    }

    .navbarStyle {
        margin-bottom: 5px;
    }

    .nuestrosBlogs {
        text-align: center;
        letter-spacing: 25px;
        text-transform: uppercase;
    }

    .imagenBlog {
        object-fit: cover;
        height: 35rem;
        border-radius: 10px;
        border-style: groove;
        border-color: blueviolet;
    }

    .cardBlogs {
        object-fit: cover;
        height: 13.5rem;
    }

  }