.piePagina {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    position: absolute;
    margin-bottom: 0;
}

.navbarStyle {
    margin-bottom: 4px;
}

.novedadesZone {
    text-align: center;
    letter-spacing: 15px;
    text-transform: uppercase;
}

@media (min-width: 768px) {

    .piePagina {
        justify-content: center;
        text-align: center;
        text-decoration: none;
        position: absolute;
        margin-bottom: 0;
    }

    .navbarStyle {
        margin-bottom: 5px;
    }

    .novedadesZone {
        text-align: center;
        letter-spacing: 25px;
        text-transform: uppercase;
    }

  }